<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content style="height: 100%;">
    <ion-grid>
        <ion-row justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                <div padding>
                    <ion-item>
                        <ion-label>
                            Email
                        </ion-label>
                        <ion-input type="text" [(ngModel)]="user.email"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label>
                            Contraseña
                        </ion-label>
                        <ion-input type="password" [(ngModel)]="user.password"></ion-input>
                    </ion-item>
                </div>

                <div padding>
                    <ion-button size="large" (click)="onLogin()" expand="block">Login</ion-button>
                    <ion-button size="large" routerLink="/register" expand="block">Registro</ion-button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>